<h3> Coupons List </h3>

<li><a href='/coupons/create'>Create Coupons</a></li>



<table>
  <thead>
        <th>
          ID
        </th>
        <th>
          Title
        </th>
        <th>
          Description
        </th>
        <th>
          Product #
        </th>
        <th>
          Discount
        </th>
        <th>
          Exp. Date
        </th>
        <th>
          Edit?
        </th>
  </thead>
  <tbody>
      <% @coupons.each do |coupon| %>
      <tr>
        <td>
          <%= coupon.id %>
        </td>
        <td>
          <%= coupon.title %>
        </td>
        <td>
          <%= coupon.description%>
        </td>
        <td>
          <%= coupon.product %>
        </td>
        <td>
          <%= coupon.discount %>
        </td>
        <td>
          <%= coupon.exp_date %>
        </td>
        <td>
          <a href='/coupons/edit/<%= coupon.id %>'>Edit</a>
      </tr>
      <% end %>
  </tbody>
</table>
